@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: rgb(224, 224, 224);
}

.showcase {
  width: 100%;
  min-height: 30vh;
  background-image: url(./assets/showcasepic.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}

.showcase h1 {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 5rem;
  font-weight: 700;
  color: whitesmoke;
}

.btn {
  padding: 7px 20px;
  background-color: rgb(18, 26, 51);
  color: whitesmoke;
  font-size: 1em;
  font-weight: 700;
}

.btn:hover {
  background-color: rgb(71, 69, 69);
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.nav h3 {
  font-size: 1.5rem;
  margin-right: 10px;
}

input {
  text-align: center;
  font-size: 1.5rem;
  width: fit-content;
}

.nav_one {
  background-color: black;
}

.nav_two {
  background-color: rgb(207, 188, 79);
}

.speed,
.size,
.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper {
  height: 70vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "code display display display"
    "code display display display"
    "info display display display";
}

.display {
  position: relative;
  grid-area: display;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.code {
  grid-area: code;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1rem;
}

.info {
  grid-area: info;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 100%;
  font-size: 1rem;
}

.brick {
  margin-right: 1px;
  margin-bottom: 5%;
  width: 2px;
  background-color: rgb(0, 0, 0);
}
